#country_1 {background-position:0 0 !important;}                                                                  
#country_2 {background-position:0 -41px !important;}
#country_3 {background-position:0 -83px !important;}
#country_4 {background-position:0 -132px !important;}
#country_5 {background-position:0 -178px !important;}
#country_6 {background-position:0 -226px !important;}
#country_7 {background-position:0 -276px !important;}
#country_8 {background-position:0 -328px !important;}
#country_9 {background-position:0 -377px !important;}
#country_10 {background-position:0 -430px !important;}
#country_11 {background-position:0 -484px !important;}
#country_12 {background-position:0 -586px !important;}
#country_13 {background-position:0 -636px !important;}
#country_14 {background-position:0 -538px !important;}
#country_15 {background-position:0 -697px !important;}
#country_16 {background-position:0 -759px !important;}
#country_17 {background-position:0 -819px !important;}
#country_18 {background-position:0 -879px !important;}
#country_19 {background-position:0 -999px !important;}
#country_20 {background-position:0 -1119px !important;}
#country_21 {background-position:0 -937px !important;}
#country_22 {background-position:0 -1058px !important;}
#country_23 {background-position:0 -1179px !important;}
#country_24 {background-position:0 -1239px !important;}
#country_25 {background-position:0 -1299px !important;}
#country_26 {background-position:0 -1359px !important;}
#country_27 {background-position:0 -1463px !important;}
#country_28 {background-position:0 -1410px !important;}
#country_29 {background-position:0 -1524px !important;}
